__pycache__/
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/.vs/cpp_snakeEnum/FileContentIndex/0551c46e-8c46-4176-83d1-4495dabe0498.vsidx
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/.vs/cpp_snakeEnum/v17/.suo
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/.vs/cpp_snakeEnum/v17/Browse.VC.db
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/.vs/cpp_snakeEnum/v17/Browse.VC.db-shm
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/.vs/cpp_snakeEnum/v17/Browse.VC.db-wal
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/.vs/cpp_snakeEnum/v17/Browse.VC.opendb
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/.vs/cpp_snakeEnum/v17/DocumentLayout.json
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/.vs/cpp_snakeEnum/v17/ipch/AutoPCH/d115a1a705517c8f/CPP_SNAKEENUM.ipch
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum.sln
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum.vcxproj
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum.vcxproj.filters
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum.vcxproj.user
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum/x64/Debug/cpp_snakeEnum.exe.recipe
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum/x64/Debug/cpp_snakeEnum.ilk
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum/x64/Debug/cpp_snakeEnum.log
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum/x64/Debug/cpp_snakeEnum.obj
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum/x64/Debug/cpp_snakeEnum.tlog/CL.command.1.tlog
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum/x64/Debug/cpp_snakeEnum.tlog/Cl.items.tlog
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum/x64/Debug/cpp_snakeEnum.tlog/CL.read.1.tlog
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum/x64/Debug/cpp_snakeEnum.tlog/CL.write.1.tlog
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum/x64/Debug/cpp_snakeEnum.tlog/cpp_snakeEnum.lastbuildstate
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum/x64/Debug/cpp_snakeEnum.tlog/link.command.1.tlog
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum/x64/Debug/cpp_snakeEnum.tlog/link.read.1.tlog
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum/x64/Debug/cpp_snakeEnum.tlog/link.secondary.1.tlog
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum/x64/Debug/cpp_snakeEnum.tlog/link.write.1.tlog
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum/x64/Debug/vc143.idb
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/cpp_snakeEnum/x64/Debug/vc143.pdb
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/x64/Debug/cpp_snakeEnum.exe
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/x64/Debug/cpp_snakeEnum.pdb
polyEnum_Jensen/cpp_snakeEnum/cpp_snakeEnum/.vs/cpp_snakeEnum/FileContentIndex/d5c994cb-e032-4688-bb48-81ab8c479800.vsidx
*.vsidx
*.db
polyEnum_Jensen/cpp_maxSnakeEnum/.vs/cpp_maxSnakeEnum/v17/.suo
*.db-shm
*.db-wal
*.opendb
*.json
*.ipch
*.filters
*.user
*.recipe
*.ilk
*.lastbuildstate
polyEnum_Jensen/cpp_maxSnakeEnum/cpp_maxSnakeEnum/x64/Debug/vc143.pdb
polyEnum_Jensen/cpp_maxSnakeEnum/cpp_maxSnakeEnum/x64/Debug/vc143.idb
polyEnum_Jensen/cpp_maxSnakeEnum/cpp_maxSnakeEnum/x64/Debug/main.obj
polyEnum_Jensen/cpp_maxSnakeEnum/cpp_maxSnakeEnum/x64/Debug/cpp_maxSnakeEnum.tlog/link.write.1.tlog
polyEnum_Jensen/cpp_maxSnakeEnum/cpp_maxSnakeEnum/x64/Debug/cpp_maxSnakeEnum.tlog/link.secondary.1.tlog
polyEnum_Jensen/cpp_maxSnakeEnum/cpp_maxSnakeEnum/x64/Debug/cpp_maxSnakeEnum.tlog/link.read.1.tlog
polyEnum_Jensen/cpp_maxSnakeEnum/cpp_maxSnakeEnum/x64/Debug/cpp_maxSnakeEnum.tlog/link.command.1.tlog
polyEnum_Jensen/cpp_maxSnakeEnum/cpp_maxSnakeEnum/x64/Debug/cpp_maxSnakeEnum.tlog/CL.write.1.tlog
polyEnum_Jensen/cpp_maxSnakeEnum/cpp_maxSnakeEnum/x64/Debug/cpp_maxSnakeEnum.tlog/CL.read.1.tlog
polyEnum_Jensen/cpp_maxSnakeEnum/cpp_maxSnakeEnum/x64/Debug/cpp_maxSnakeEnum.tlog/Cl.items.tlog
polyEnum_Jensen/cpp_maxSnakeEnum/cpp_maxSnakeEnum/x64/Debug/cpp_maxSnakeEnum.tlog/CL.command.1.tlog
polyEnum_Jensen/cpp_maxSnakeEnum/cpp_maxSnakeEnum/x64/Debug/cpp_maxSnakeEnum.log
polyEnum_Jensen/cpp_maxSnakeEnum/cpp_maxSnakeEnum.vcxproj
polyEnum_Jensen/cpp_maxSnakeEnum/cpp_maxSnakeEnum.sln
.vs/slnx.sqlite
*.sqlite
*.sqlite
